.main{
    font-size: .28rem;
}
 *{
    box-sizing: border-box;
}
.bg{
    background: #fff;
}
.color9{
    color: #999999;
}
.color3{
    color: #333333;
}
.color6{
    color: #666666;
}
.colorR{
    color: #F76360;
}
.colorB{
    color: #3699FF;
}
.fs_32{
    font-size: .32rem;
}
.fs_36{
    font-size: .36rem;
}
.fs_24 {
    font-size: .24rem;
}
.fs_28 {
    font-size: .28rem;
}
.mt_20{
    margin-top: .2rem;
}
.text_right{
    text-align: right;
}
.titleType {
    height: .88rem;
    width: 100%;
    line-height: .88rem;
    display: flex;
    padding: 0 0.15rem 0 .3rem;
    align-items: center;
}
.titleType h3 {
    flex: 1;
    font-size: .36rem;
    font-weight: 600;
}

.titleType a {
    font-size: .24rem;
    color: #666;
    text-decoration: none;
}
.titleType img{
    height: 0.28rem;
}
.pos_re{
    position: relative;
}
.pos_ab{
    position: absolute;
}
.text_left {
    text-align: left;
}