.detail_title{
	height: 40px;
}
.cus_container .row{
	margin-top: 17px;
}
/*.form-control {
    border: none!important;
    border-bottom: 1px solid #ccc!important;
    border-radius: 0px!important; 
    -webkit-box-shadow: none!important; 
    box-shadow: none!important; 
}*/